.header__presentation {
    display: flex;
    justify-content: space-evenly;
    max-height: 10% ;
}

.header__image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 25%;
}

.header__image--style {
    padding-left: 5%;
    padding-top: 5px;
    width: 7rem;
}

.links__social {
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    gap:2rem;
    padding: 0% 20% 0% 0%;
}

.links__social--style {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 50%;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1.34375rem 0;
    text-decoration: none;
    color: var(--third-color);
}

.header__title {
    display: flex;
    justify-content: end;
    padding-right: 5%;
}

.header__title--style {
    width: 100%;
}